body {
  background-color: lightblue;
}

.style {

  background-color: white;
  color: black;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid black;
  border-radius: 5px;
}

#header {
  margin-bottom: 25px;
  margin-left: 150px;
  margin-right: 150px;
}

#action {
  background-color: lightblue;
  margin-left: 250px;
  margin-right: 150px;
  margin-bottom: 25px;


}

.button{
  background-color: white;
  color:black;
  font-size: 20px;
  border: 1px solid black;
  border-radius: 5px;
  outline: none;
}

.button:hover {
  background-color: black;
  color: white;
}

.tweetBox, .tweets {
  width: 450px;
  margin-bottom: 10px;
  margin-left: 175px;
  margin-right: 150px;
}

h3:hover {
  cursor: pointer;
}

.user {

  color: red;
}

.message {
  color: black;
  font-size: 20px;

}

.time {
  color: gray;
  font-size: 12px;
}

#individual {
  display: none;
}